*.Rproj.user
*.Rhistory
*.RData
*.docx
archive
cache
inst/examples/archive/
inst/examples/cache/
inst/examples/cluster_dat/
*.fls
*.log
*.aux
*.fdb_latexmk
*.pdf
*.png
*.rda
*.bbl
*.blg
*.Rproj
*.jpg
*.doc
*.Rapp.history
.Rproj.user
*.vim
inst/ms/~$reading.xlsx
*.pdfsync
tags
Session.vim

inst/ms/cites.txt

inst/ms/som.tex

*.o

*.so

inst/tests/test-rcpp.R
