useDynLib(metafolio)
export(count_quasi_exts)
export(create_asset_weights)
export(generate_env_ts)
export(generate_straying_matrix)
export(get_conserv_plans_mv)
export(get_port_vals)
export(gg_color_hue)
export(is_quasi_ext)
export(meta_sim)
export(metasim_base)
export(monte_carlo_portfolios)
export(plot_cons_plans)
export(plot_correlation_between_returns)
export(plot_efficient_portfolios)
export(plot_rickers)
export(plot_sim_ts)
export(plot_sp_A_ts)
export(ricker)
export(run_cons_plans)
export(thermal_curve_a)
export(thermal_integration)
