export(create_asset_weights)
export(fit_ricker)
export(fit_ricker_fast)
export(generate_env_ts)
export(gg_color_hue)
export(meta_sim)
export(monte_carlo_portfolios)
export(plot_cons_plans)
export(plot_correlation_between_returns)
export(plot_efficient_portfolios)
export(plot_rickers)
export(plot_sim_ts)
export(ricker_ar1)
export(ricker_escapement)
export(ricker_v_t)
export(run_cons_plans)
export(thermal_curve_a)
export(thermal_curve_a_fast)
useDynLib(metafolio)
useDynLib(mypackage)
